.input-field{
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 6px 10px 6px;
    outline: grey;
}

.input-field.error{
    border-color: red;
}

.input-field:focus{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

textarea {
    height: auto;
}

.textarea-expand {
    line-height: 1.5;
    resize: none;
    overflow: hidden;
}